### WINDOWS Server Core 2022  :

[source](https://github.com/valengus/packer.git)

- updates ( ${date} )
- drivers for kvm (viostor, netkvm, viorng, vioserial, qxldod, balloon)
- qemu|virtualbox|vmware guest agent
- winrm enabled over https

### Login Credentials
Username: Administrator \ vagrant

Password: vagrant